$luzColor: #e77021;
$gasColor: #5897da;
$brownClear: #c88260;
$brownClearMedium: #db9b7b;
$softBlue: #6792c4;
$redDark: #e4572e;
$redDarkClear: #f18969;
$yellow: #e9cf40;
$olive: #34610e;
$oliveClear: #66963e;
$cardHeight: 260px;
$gap: 1.8rem;

:root {
    --surface-color: #fff;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $gap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12);

    &__icon {
        position: absolute;
        top: 1.6em;
        left: 1.6em;
        // height: 32px;
        // width: 32px;
        z-index: 1;
        // background-color: #ffffff93;
        // border: 1px solid;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__img {
            height: 22px;
        }

        &--seguro {
            border-color: $oliveClear;
        }

        &--certificado {
            border-color: $redDarkClear;
        }

        &--cae {
            border-color: $brownClearMedium;

            &>.card__icon__img {
                height: 21px;
                margin-bottom: 1px;
            }
        }

        &--rgpd {
            border-color: $yellow;
        }

    }
}

.card__image {
    width: 100%;
    height: auto;

    height: $cardHeight;
    object-fit: cover;

    &--seguro {
        filter: brightness(1.2);
    }
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card:hover .card__header {
    padding-bottom: 8px;
}

// Animación de las estadísticas
.card:hover .card__header__foot__right {
    // opacity: 0;
    // margin-top: 24px;
    margin-top: 8px;
    transition: .2s ease-in-out;

    &__item {
        font-size: 16px;

        &__legend {
            font-size: 16px;
            font-weight: 400;
            margin-right: 4px;
        }

        &--special {
            font-size: 21px;
        }
    }
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    // padding: 2em;
    // padding-bottom: 1.4em;
    padding: 1.4em 1.5em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;

    &-text {
        width: 100%;

        &__head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            &__icon {
                height: 36px;
            }
        }
    }

    &__legend {
        font-size: 12px;
        color: #6A515E;
        font-weight: 800;
    }

    &__foot {
        display: flex;
        // flex-direction: row;
        width: 100%;
        justify-content: space-between;

        &__img {
            height: 22px;
            margin-top: 12px;
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 2px;
            padding-top: 12px;
            transition: .2s;

            &__item {
                font-size: 11px;
                transition: .2s;
                color: #6A515E;
                font-weight: 700;
                margin: 0;

                &--special {
                    font-weight: 800;
                    font-size: 12px;
                    transition: .2s ease-in-out;
                    background: -webkit-linear-gradient($gasColor, $gasColor, #D7BF23);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    &__percent {
        font-size: 30px;
        font-weight: 700;
        color: $luzColor;
        margin-bottom: 0;
        margin-top: 8px;

        &--gas {
            color: $gasColor;
        }

        &--rgpd {
            color: $yellow;
        }

        &--cae {
            color: $brownClear;
        }

        &--seguro {
            color: $olive;
        }

        &--certificado {
            color: $redDark;
        }
    }

}

.card__description {
    padding: 0 2em 1.5em;
    margin: 0;
    color: #D7BDCA;
    // font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-weight: 800;
    font-size: 18px;
}


.card__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    &__item {
        padding: 14px 18px;
        border-radius: 18px;
        // background: #eaf3ffda;
        background: -webkit-linear-gradient(#f6f9fd, #e6eef7);
        border: 2px solid #c7dfff;
        color: #6A515E;

        &--rgpd {
            background: -webkit-linear-gradient(#fffefa, #fffade);
            border-color: #fdee99;
        }

        &--cae {
            background: -webkit-linear-gradient(#fdfbf9, #fdf0e9);
            border-color: #ecc1ac;
        }

        &--seguro {
            background: -webkit-linear-gradient(#fbfff7, #e4f8d3);
            border-color: #91c765;
        }

        &--certificado {
            background: -webkit-linear-gradient(#fffdfc, #ffede8);
            border-color: #f7b5a1;
        }

        &__title {
            font-size: 12px;
            color: #6A515E;
            font-weight: 800;
            margin: 0;
            margin-bottom: 4px;
        }

        &__body {
            font-size: 21px;
            margin: 0;
            line-height: 125%;
            min-height: 52.5px;
            text-align: center;

            &--comunidades {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__special {
                font-weight: 800;
                background: -webkit-linear-gradient(#5897da, #5897da, #D7BF23);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        }
    }
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1.4em;
    margin: 0 0 .3em;
    color: #6A515E;

    font-weight: 800;
    
    &--luz {
        background: -webkit-linear-gradient(#69330f, #69330f, #b4581b);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    &--rgpd {
        background: -webkit-linear-gradient(#f2f2f2, #eee8ca, #e9cf40);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--gas {
        background: -webkit-linear-gradient(#102b49, #205083, #4278b1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--seguro {
        background: -webkit-linear-gradient(#193006, #34610e, #60b41b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--certificado {
        background: -webkit-linear-gradient(#69330f, #914615, #df6717);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}


// Progress 
.container {
    width: 100%;
}

.progress2 {
    padding: 0px;
    margin-top: 8px;
    border-radius: 4px;
    background: #ebdbdb;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
        0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
    height: 6px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    width: 88%;
    // background-color: #f75940;
    background-color: $luzColor;
    animation: progressAnimationLuz 6s;

    &--gas {
        width: 62%;
        animation: progressAnimationGas 6s;
        background-color: $gasColor;
    }

    &--rgpd {
        width: 62%;
        animation: progressAnimationRgpd 6s;
        background-color: $yellow;
    }

    &--cae {
        width: 62%;
        animation: progressAnimationCae 6s;
        background-color: $brownClear;
    }

    &--seguro {
        width: 62%;
        animation: progressAnimationSeguro 6s;
        background-color: $olive;
    }

    &--certificado {
        width: 62%;
        animation: progressAnimationCertificado 6s;
        background-color: $redDark;
    }
}

@keyframes progressAnimationLuz {
    0% {
        width: 0%;
        background-color: #f9dcbc;
    }

    100% {
        width: 88%;
        background-color: $luzColor;
    }
}

@keyframes progressAnimationGas {
    0% {
        width: 0%;
        background-color: #bcd8f9;
    }

    100% {
        width: 62%;
        background-color: $gasColor;
    }
}

@keyframes progressAnimationRgpd {
    0% {
        width: 0%;
        background-color: #fff3ad;
    }

    100% {
        width: 62%;
        background-color: $yellow;
    }
}

@keyframes progressAnimationCae {
    0% {
        width: 0%;
        background-color: #f5c2a8;
    }

    100% {
        width: 62%;
        background-color: $brownClear;
    }
}

@keyframes progressAnimationSeguro {
    0% {
        width: 0%;
        background-color: #acdd84;
    }

    100% {
        width: 62%;
        background-color: $olive;
    }
}

@keyframes progressAnimationCertificado {
    0% {
        width: 0%;
        background-color: #e2b4ae;
    }

    100% {
        width: 62%;
        background-color: $redDark;
    }
}

// Gráfica
.chart {
    display: table;
    table-layout: fixed;

    width: 100%;
    max-width: 300px;
    height: 88px;
    margin: 0 auto;

    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
    background-size: 100% 50px;
    background-position: left top;

    padding: 0;
    padding-bottom: 16px;


    & li {
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        height: 88px;
    }

    & span {
        margin: 0 0.3em;
        display: block;
        background: rgba(#d1ecfa, .75);
        animation: draw 1s ease-in-out;
        border-radius: 16px 4px 0 0;
        border-right: .88px solid;
        border-color: #6A515E;

        font-size: 11px;

        &:before {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            padding: 5px 0em 0;
            display: block;
            text-align: center;
            content: attr(title);
            word-wrap: break-word;

            font-size: 8px;
            color: #6A515E;
        }

    }


    &__item {
        &__hover {
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 3;
            padding: 4px 8px;
            font-size: 14px;
            border-radius: 6px;
            background: #ffffffc0;
            border: 0.88px solid;
            width: max-content;
            display: none;
            &--last{
                left: auto;
                right: 0;
            }
        }
        &:hover{
            & .chart__item__hover{
                display: block;
            }
        }
    }
}

@keyframes draw {
    0% {
        height: 0;
    }
}


.board{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap;
    padding: $gap;
    &__left{
        display: flex;
        flex-direction: column;
        gap: 32px;

        // Card de Admiminstración de fincas
        &__administrator{
            background-color: #92c3fc;
            border-radius: 32px;
            width: 100%;
            height: $cardHeight;
            text-align: center;
            padding: 64px;
        }
        &__graph{
            background-color: #e77021;
            border-radius: 32px;
            width: 100%;
            height: calc(2*$cardHeight + $gap);
            text-align: center;
            padding: 64px;
        }
    }
}
