:root {
  --surface-color: #fff;
  --curve: 24;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.8rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}
.card__icon {
  position: absolute;
  top: 1.6em;
  left: 1.6em;
  z-index: 1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__icon__img {
  height: 22px;
}
.card__icon--seguro {
  border-color: #66963e;
}
.card__icon--certificado {
  border-color: #f18969;
}
.card__icon--cae {
  border-color: #db9b7b;
}
.card__icon--cae > .card__icon__img {
  height: 21px;
  margin-bottom: 1px;
}
.card__icon--rgpd {
  border-color: #e9cf40;
}

.card__image {
  width: 100%;
  height: auto;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__image--seguro {
  filter: brightness(1.2);
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card:hover .card__header {
  padding-bottom: 8px;
}

.card:hover .card__header__foot__right {
  margin-top: 8px;
  transition: 0.2s ease-in-out;
}
.card:hover .card__header__foot__right__item {
  font-size: 16px;
}
.card:hover .card__header__foot__right__item__legend {
  font-size: 14px;
  font-weight: 400;
  margin-right: 4px;
}
.card:hover .card__header__foot__right__item--special {
  font-size: 21px;
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1.4em 1.5em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}
.card__header-text {
  width: 100%;
}
.card__header-text__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.card__header-text__head__icon {
  height: 36px;
}
.card__header__legend {
  font-size: 12px;
  color: #6A515E;
  font-weight: 800;
}
.card__header__foot {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.card__header__foot__img {
  height: 22px;
  margin-top: 12px;
}
.card__header__foot__right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2px;
  padding-top: 12px;
  transition: 0.2s;
}
.card__header__foot__right__item {
  font-size: 11px;
  transition: 0.2s;
  color: #6A515E;
  font-weight: 700;
  margin: 0;
}
.card__header__foot__right__item--special {
  font-weight: 800;
  font-size: 12px;
  transition: 0.2s ease-in-out;
  background: -webkit-linear-gradient(#5897da, #5897da, #D7BF23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__header__percent {
  font-size: 30px;
  font-weight: 700;
  color: #e77021;
  margin-bottom: 0;
  margin-top: 8px;
}
.card__header__percent--gas {
  color: #5897da;
}
.card__header__percent--rgpd {
  color: #e9cf40;
}
.card__header__percent--cae {
  color: #c88260;
}
.card__header__percent--seguro {
  color: #34610e;
}
.card__header__percent--certificado {
  color: #e4572e;
}

.card__description {
  padding: 0 2em 1.5em;
  margin: 0;
  color: #D7BDCA;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-weight: 800;
  font-size: 18px;
}

.card__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.card__body__item {
  padding: 14px 18px;
  border-radius: 18px;
  background: -webkit-linear-gradient(#f6f9fd, #e6eef7);
  border: 2px solid #c7dfff;
  color: #6A515E;
}
.card__body__item--rgpd {
  background: -webkit-linear-gradient(#fffefa, #fffade);
  border-color: #fdee99;
}
.card__body__item--cae {
  background: -webkit-linear-gradient(#fdfbf9, #fdf0e9);
  border-color: #ecc1ac;
}
.card__body__item--seguro {
  background: -webkit-linear-gradient(#fbfff7, #e4f8d3);
  border-color: #91c765;
}
.card__body__item--certificado {
  background: -webkit-linear-gradient(#fffdfc, #ffede8);
  border-color: #f7b5a1;
}
.card__body__item__title {
  font-size: 12px;
  color: #6A515E;
  font-weight: 800;
  margin: 0;
  margin-bottom: 4px;
}
.card__body__item__body {
  font-size: 21px;
  margin: 0;
  line-height: 125%;
  min-height: 52.5px;
  text-align: center;
}
.card__body__item__body--comunidades {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__body__item__body__special {
  font-weight: 800;
  background: -webkit-linear-gradient(#5897da, #5897da, #D7BF23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.4em;
  margin: 0 0 0.3em;
  color: #6A515E;
  font-weight: 800;
}
.card__title--luz {
  background: -webkit-linear-gradient(#69330f, #69330f, #b4581b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.card__title--rgpd {
  background: -webkit-linear-gradient(#f2f2f2, #eee8ca, #e9cf40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__title--gas {
  background: -webkit-linear-gradient(#102b49, #205083, #4278b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__title--seguro {
  background: -webkit-linear-gradient(#193006, #34610e, #60b41b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__title--certificado {
  background: -webkit-linear-gradient(#69330f, #914615, #df6717);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #D7BDCA;
}

.card__status {
  font-size: 0.8em;
  color: #D7BDCA;
}

.container {
  width: 100%;
}

.progress2 {
  padding: 0px;
  margin-top: 8px;
  border-radius: 4px;
  background: #ebdbdb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: 6px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 88%;
  background-color: #e77021;
  animation: progressAnimationLuz 6s;
}
.progress-moved .progress-bar2--gas {
  width: 62%;
  animation: progressAnimationGas 6s;
  background-color: #5897da;
}
.progress-moved .progress-bar2--rgpd {
  width: 62%;
  animation: progressAnimationRgpd 6s;
  background-color: #e9cf40;
}
.progress-moved .progress-bar2--cae {
  width: 62%;
  animation: progressAnimationCae 6s;
  background-color: #c88260;
}
.progress-moved .progress-bar2--seguro {
  width: 62%;
  animation: progressAnimationSeguro 6s;
  background-color: #34610e;
}
.progress-moved .progress-bar2--certificado {
  width: 62%;
  animation: progressAnimationCertificado 6s;
  background-color: #e4572e;
}

@keyframes progressAnimationLuz {
  0% {
    width: 0%;
    background-color: #f9dcbc;
  }
  100% {
    width: 88%;
    background-color: #e77021;
  }
}
@keyframes progressAnimationGas {
  0% {
    width: 0%;
    background-color: #bcd8f9;
  }
  100% {
    width: 62%;
    background-color: #5897da;
  }
}
@keyframes progressAnimationRgpd {
  0% {
    width: 0%;
    background-color: #fff3ad;
  }
  100% {
    width: 62%;
    background-color: #e9cf40;
  }
}
@keyframes progressAnimationCae {
  0% {
    width: 0%;
    background-color: #f5c2a8;
  }
  100% {
    width: 62%;
    background-color: #c88260;
  }
}
@keyframes progressAnimationSeguro {
  0% {
    width: 0%;
    background-color: #acdd84;
  }
  100% {
    width: 62%;
    background-color: #34610e;
  }
}
@keyframes progressAnimationCertificado {
  0% {
    width: 0%;
    background-color: #e2b4ae;
  }
  100% {
    width: 62%;
    background-color: #e4572e;
  }
}
.chart {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 300px;
  height: 88px;
  margin: 0 auto;
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
  background-size: 100% 50px;
  background-position: left top;
  padding: 0;
  padding-bottom: 16px;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 88px;
}
.chart span {
  margin: 0 0.3em;
  display: block;
  background: rgba(209, 236, 250, 0.75);
  animation: draw 1s ease-in-out;
  border-radius: 16px 4px 0 0;
  border-right: 0.88px solid;
  border-color: #6A515E;
  font-size: 11px;
}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 0em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
  font-size: 8px;
  color: #6A515E;
}
.chart__item__hover {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 3;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.7529411765);
  border: 0.88px solid;
  width: -moz-max-content;
  width: max-content;
  display: none;
}
.chart__item__hover--last {
  left: auto;
  right: 0;
}
.chart__item:hover .chart__item__hover {
  display: block;
}

@keyframes draw {
  0% {
    height: 0;
  }
}
.board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
  padding: 1.8rem;
}
.board__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.board__left__administrator {
  background-color: #fff;
  border-radius: calc(var(--curve) * 1px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 260px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.board__left__administrator__col1 {
  display: flex;
  flex-direction: column;
  background: url(../images/adm-hero.webp);
  background-position: top;
  background-size: contain;
}
.board__left__administrator__col1__head {
  height: 50%;
  position: relative;
}
.board__left__administrator__col1__head__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.board__left__administrator__col1__main {
  height: 50%;
  background: #fff;
  border-radius: var(--curve) 0 0 0;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board__left__administrator__col1__main__title {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  background: -webkit-linear-gradient(#102b49, #205083, #4278b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.board__left__administrator__col2 {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  position: relative;
  align-items: end;
}
.board__left__administrator__col2__text {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  max-width: 192px;
  padding-top: 16px;
}
.board__left__administrator__col2__text__icon {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 28px;
}
.board__left__administrator__col2__text__legend {
  margin: 0;
  color: #6A515E;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
}
.board__left__administrator__col2__text__result {
  text-align: end;
}
.board__left__administrator__col2__text__result__number {
  font-size: 30px;
  font-weight: 800;
  line-height: 100%;
  background: -webkit-linear-gradient(#102b49, #205083, #4278b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.board__left__administrator__col2__text__result__legend {
  font-size: 11px;
  font-weight: 800;
  line-height: 100%;
  background: -webkit-linear-gradient(#102b4b, #205083, #4278b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.board__left__administrator__col2__graph__legend {
  position: relative;
  bottom: -8px;
  font-size: 11px;
  font-weight: 800;
  color: #c1a8b5;
}
.board__left__graph {
  background-color: #e77021;
  border-radius: calc(var(--curve) * 1px);
  width: 100%;
  height: calc(520px + 1.8rem);
  text-align: center;
  padding: 64px;
}/*# sourceMappingURL=cards-servicios.css.map */
